<!DOCTYPE html>
<html ng-app="flarum">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{forumPath}}assets/css/forum-06529992.css" />
	{{!-- <link rel="stylesheet" rel="/bower_components/angular-toastr/dist/angular-toastr.min.css" /> --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
	<link rel="stylesheet" href="http://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
	<link rel="stylesheet" href="{{forumPath}}assets/css/style.css" />
	<link rel="stylesheet" href="{{forumPath}}assets/css/prismjs.css" />
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="description" content="{{forum.description}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<meta name="theme-color" content="{{forum.config.themePrimaryColor}}" />
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
		@font-face {
			font-family: 'FontAwesome';
			src: url('{{forumPath}}assets/fonts/fontawesome-webfont.eot?v=4.4.0');
			src: url('{{forumPath}}assets/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('{{forumPath}}assets/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('{{forumPath}}assets/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('{{forumPath}}assets/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('{{forumPath}}assets/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
			font-weight: normal;
			font-style: normal
		}
	</style>
</head>
<body class="modal-open">
	<div id="modalOverlay" ng-class="modalOverlayClass"></div>
	<div id="modal">
		<div class="ModalManager modal fade in loginModal{{#if showLoginModal}} show{{/if}}" style="display: block; padding-left: 0px;" ng-class="loginModalClass">
			{{!-- {{/if}} --}}
			<div class="Modal modal-dialog LogInModal Modal--small">
				<div class="Modal-content">
					<div class="Modal-close App-backControl">
						<button class="Button Button--icon Button--link hasIcon" type="button" ng-click="loginModalClass = 'hide'; modalOverlayClass = ''">
							<i class="icon fa fa-fw fa-times Button-icon"></i>
						</button>
					</div>
					<form>
						<div class="Modal-header">
							<h3 class="App-titleControl App-titleControl--text">
								Log In
							</h3>
						</div>
						<div class="Modal-alert"></div>
						<div class="Modal-body">
							<div class="LogInButtons">
								<button class="Button LogInButton--facebook LogInButton hasIcon" type="button"><i class="icon fa fa-fw fa-facebook-official Button-icon"></i><span class="Button-label">Log In with Facebook</span></button><button class="Button LogInButton--twitter LogInButton hasIcon" type="button"><i class="icon fa fa-fw fa-twitter Button-icon"></i><span class="Button-label">Log In with Twitter</span></button><button class="Button LogInButton--github LogInButton hasIcon" type="button"><i class="icon fa fa-fw fa-github Button-icon"></i><span class="Button-label">Log In with GitHub</span></button>
							</div>
							<div class="Form Form--centered">
								<div class="Form-group">
									<input class="FormControl" name="email" placeholder="Username or Email" type="text">
								</div>
								<div class="Form-group">
									<input class="FormControl" name="password" placeholder="Password" type="password">
								</div>
								<div class="Form-group">
									<button class="Button Button--primary Button--block" type="submit"><span class="Button-label">Log In</span></button>
								</div>
							</div>
						</div>
						<div class="Modal-footer">
							<p class="LogInModal-forgotPassword">
								<a>Forgot password?</a>
							</p>
							<p class="LogInModal-signUp">
								Don't have an account? <a>Sign Up</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="alerts"></div>

	{{{body}}}

	<script src="{{forumPath}}assets/js/forum-8a0805bb.js"></script>
	<script src="{{forumPath}}assets/angular/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	{{!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> --}}
	<script src="http://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	<script src="{{forumPath}}assets/js/marked.min.js"></script>
	<script src="{{forumPath}}assets/js/prism.min.js"></script>
	<script src="{{forumPath}}assets/angular/app.js"></script>
	<script src="{{forumPath}}assets/js/script.js"></script>
	<script>
		executeAngular('{{forumPath}}'{{#if user}}, {{{user}}}{{/if}});

	</script>
</body>
</html>
